@font-face {
  font-family: Raleway;
  src:
    url(./Roboto-VariableFont_wdth,wght.woff2) format('woff2'),
    url(./Roboto-VariableFont_wdth,wght.woff) format('woff');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: Raleway;
  src:
    url(./Roboto-VariableFont_wdth,wght.woff2) format('woff2'),
    url(./Roboto-VariableFont_wdth,wght.woff) format('woff');
  font-weight: bold;
  font-display: swap;
}
